*{
  box-sizing: border-box;
}

.square {
  background: #00ffdd; /*#52ffd4; 00ffdd blue 0084ff*/
  border: 1px solid rgb(0,132,255);
  border-radius: 10px;
  display: block;
  float: left;
  margin: 5px;
  padding: 0;
  width: 100px;
  height: 100px;

  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  -webkit-box-shadow: 0px 0px 45px -5px rgb(0,132,255);
  -moz-box-shadow: 0px 0px 45px -5px rgb(0,132,255);
  box-shadow: 0px 0px 45px -5px rgb(0,132,255);
  transition: all 167ms ease-in;
}
.square:focus {
  outline: none;
}
.square:hover {
  background: #38ffc3;
  color: rgb(56, 56, 56);
  -webkit-box-shadow: 0px 0px 45px -5px rgb(0,232,255), inset 0px 0px 50px 0px rgb(255,255,255);
  -moz-box-shadow: 0px 0px 45px -5px rgb(0,232,255), inset 0px 0px 50px 0px rgb(255,255,255);
  box-shadow: 0px 0px 45px -5px rgb(0,232,255), inset 0px 0px 50px 0px rgb(255,255,255);

}

.rows {
  width: 330px;
  height: 110px;
  display: block;
  float: top;
}

.game-board{
  width: 330px;
  height: 330px;
  display: inline-block;
}

.game-info {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
.status {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.moves {
  padding: 7px;
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(191,189,255,1);
  -moz-box-shadow: 0px 0px 11px 3px rgba(191,189,255,1);
  box-shadow: 0px 0px 11px 3px rgba(191,189,255,1);
  font-size: 1.2rem;
  font-weight: lighter;
  background-color: azure;
}
.moves:hover {
  background-color: rgb(255, 247, 236);
  -webkit-box-shadow: 0px 0px 11px 3px rgba(191,189,255,0.8);
  -moz-box-shadow: 0px 0px 11px 3px rgba(191,189,255,0.8);
  box-shadow: 0px 0px 11px 3px rgba(191,189,255,0.8);
}

#movesContainer {
  list-style-type: none;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25vh);
  margin: 0 auto;
}

